* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(33, 33, 33);
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 60px;
  display: flex;
  align-items: center;
  align-content: center;
  width: 100%;
  margin: 0;
  padding-left: 0;
}

.icon-xl-heavy {
  color: #b4b4b4;
}

.drop-down {
  background-color: rgb(33, 33, 33);
  color: #b4b4b4;
  font-size: 1.125rem;
  font-family: ui-sans-serif, -apple-system, system-ui, Segoe UI, Helvetica,
    Apple Color Emoji, Arial, sans-serif, Segoe UI Emoji, Segoe UI Symbol;
  font-weight: 600px;
  line-height: 2rem;
  border-style: none;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 10px;
  height: 40px;
  width: 170px;
}

.drop-down:hover,
.sign-up:hover {
  background-color: rgb(50, 50, 50);
}

.navbar {
  display: flex;
  flex-grow: 0.5;
}

.navbar-right {
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 0.5;
}

li {
  list-style: none;
}

.top-left {
  display: flex;
  align-content: center;
  align-items: center;
  padding-left: 15px;
}

.top-right {
  display: flex;
}

.top-right li a {
  margin-left: 0;
  text-decoration: none;
}

.sign-in {
  box-sizing: border-box;
  background-color: #fff;
  color: black;
  padding: 10px 12px;
  margin: 12px 16px 12px 10px;
  min-width: 65px;
  display: inline-block;
  font-size: 14px;
  min-height: 25px;
  outline: none;
  text-align: center;
  line-height: 5px;
  position: relative;
  border-radius: 100px;
  cursor: pointer;
}

.sign-up {
  box-sizing: border-box;
  background-color: rgb(33, 33, 33);
  border: 1px solid rgb(255, 255, 255, 0.3);
  color: white;
  padding: 10px 12px;
  margin: 12px 16px 12px 10px;
  min-width: 65px;
  display: inline-block;
  font-size: 14px;
  min-height: 25px;
  outline: none;
  text-align: center;
  line-height: 5px;
  position: relative;
  border-radius: 100px;
  cursor: pointer;
}

/* Content Styling */

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.sub-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.question {
  color: white;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 1s steps(22), cursor 0.5s step-end infinite;
  margin-bottom: 15px;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 18%;
  }
}

/* The typewriter cursor effect */
@keyframes cursor {
  from,
  to {
    border-color: transparent;
  }
  18% {
    border-color: white;
  }
}

.items {
  align-items: center;
  justify-content: center;
}

.content-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  background-color: rgb(255, 255, 255, 0.1);
  width: 800px;
  height: 50px;
  border-radius: 30px;
}

.search-bar input {
  flex-grow: 0.95;
  height: 30px;
  margin-right: 15px;
  font-size: 16px;
  background-color: transparent;
  border: none;
  outline: none;
}

::placeholder {
  color: whitesmoke;
}

.search-bar svg {
  cursor: pointer;
}

.search-button button {
  border-radius: 50%;
  border: none;
}

.btn {
  box-sizing: border-box;
  background-color: rgb(33, 33, 33);
  border: 1px solid rgb(255, 255, 255, 0.3);
  color: rgb(255, 255, 255, 0.3);
  padding: 10px 12px;
  margin: 12px 16px 12px 10px;
  min-width: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  min-height: 25px;
  outline: none;
  line-height: 5px;
  position: relative;
  border-radius: 100px;
  cursor: pointer;
  transition: color 0.3s;
}

.btn:hover {
  background-color: rgb(50, 50, 50);
  color: whitesmoke;
}

.btn-text {
  margin-left: 5px;
}

/* Footer Styling */

.footer-content {
  text-align: center;
  color: lightgray;
  display: flex;
  align-content: center;
  justify-content: center;
}

.footer-content a {
  color: white;
}
